@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@charset "utf-8";
/* CSS Document */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:sans-serif;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
h1{font-size:2em;margin:0.67em 0; font-weight:normal}
h2{font-size:1.5em;margin:0.83em 0; font-weight:normal}
h3{font-size:1.17em;margin:1em 0; font-weight:normal}
h4{font-size:1em;margin:1.33em 0; font-weight:normal}
h5{font-size:0.83em;margin:1.67em 0; font-weight:normal}
h6{font-size:0.75em;margin:2.33em 0; font-weight:normal}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
p,pre{margin:1em 0;}
pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
small{font-size:75%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
dl,menu,ol,ul{margin:1em 0;}
dd{margin:0 0 0 40px;}
menu,ol,ul{padding:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 0;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
fieldset{ border:0; margin:0; padding:0}
a[href], button {
    -ms-touch-action: none; /* IE10 */
    touch-action: none;     /* IE11 */
}

/* Portfolio Styles */
img[src$=".gif"], img[src$=".png"] {
	image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}
a:focus,input:focus,select:focus{ outline:none}
.mr0{ margin-right:0px !important}
.mb0{ margin-bottom:0px !important}
.ml0{ margin-left:0px !important}
.mt0{ margin-top:0px !important}
html,body{ min-height:100%}
body{ background:#d6d6d6; font-family: 'Open Sans',Arial,Verdana,tahoma,sans-serif; font-weight:300; color:#333; letter-spacing:-0.01em}
a{ color:#aaa; text-decoration:underline}
html,body{ height:100%; min-height:100%}
.site-wrapper{ height:100%; min-height:100%}
.topBar{ width:100%; height:50px; position:fixed; z-index:999; top:0; text-align:center; background:#fafafa; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eaeaea), to(#fafafa)); background: -webkit-linear-gradient(top, #eaeaea, #fafafa); background: -moz-linear-gradient(top, #eaeaea, #fafafa); background: -ms-linear-gradient(top, #eaeaea, #fafafa); background: -o-linear-gradient(top, #eaeaea, #fafafa) }


.logo-symbol{ width:50px; height:50px; float:left; background:url(../img/logo-symbol.png) no-repeat left top}
.logo-title{ margin:0 50px; padding:0; height:50px; background:url(../img/logo-text.png) no-repeat center top; display:block; overflow:hidden; text-indent:-9999px}
.main-navs{ height:40px; width:100%; position:fixed; top:50px; z-index:9999; line-height:40px; font-size:16px; background:#f5f5f5; border-top:1px solid #dcdcdc;border-bottom: 1px solid #ccc; }
.main-navs a{text-align:center; color:#333; text-decoration:none; float:left; border-left:1px solid #dcdcdc; padding:0 10px; position:relative}
.main-navs a:first-child{border-left:0px}
.main-navs a hr{ display:none; margin:0; padding:0; width:100%; position:absolute; left:0}
.main-navs a.today{ padding:0 40px 0 15px}
.main-navs a.active{ border-top:0; background:#fff; color:#427fed}
.main-navs a.active hr{ display:block; margin-top:-3px; border:0; height:3px; background: #427fed; z-index:1}
.tab-match-count{ display:inline-block; position:absolute; top:3px; text-align:center; color:#fff; background:url(../img/tab-match-count-bg.png) no-repeat left top; width:24px; height:21px; font-size:11px; line-height:16px}

.main-navs a.upcoming{padding:0 40px 0 15px}
.main-navs a.past{ border-right:0; padding:0 15px}
.threeNavs a{padding:0 23px}

.contentSection{ margin-top:91px; float:left; width:100%; box-sizing: border-box;}

.today-matches{ background:#d6d6d6; padding:5px 5px 0px}
.match-listItem{ background:#fff; margin-bottom:5px; border-radius:3px; width:100%; height:155px; float:left; cursor:pointer}
.match-item-header{ padding:5px; background:#f0f0f0; color:#333; border-bottom:1px solid #e5e5e5; overflow:hidden}
.match-item-header h3{ font-size:14px; font-weight:normal; margin:0; padding:0; float:left}
.today-match-leagueName{ float:right; color:#666; font-size:12px}
.match-item-details{ padding:10px 5px}
.match-item-team-logos{ width:145px; float:left; margin-right:5px}
.match-item-team-logos span{ width:15px; text-align:center; line-height:64px; font-size:11px; color:#333; float:left; display:inline-block}
.teamLogo{ width:40px; height:40px; border:2px solid #000; border-radius:5px; float:left}
.teamLogo img{ max-width:100%}
.teamPlayers01,.teamPlayers02{ width:64px; height:70px; position:relative; float:left}
.teamPlayers02 .player01{ right:0}
.teamPlayers02 .player02{ right:25}
.teamPlayers01 .player01,.teamPlayers01 .player02,.teamPlayers02 .player01,.teamPlayers02 .player02{ width:40px; height:40px; border:2px solid #000; border-radius:50%; overflow:hidden; position:absolute}
.teamPlayers01 .player02{ margin:25px 0 0 15px; z-index:11}
.teamPlayers02 .player02{ margin:25px 0 0 0px; z-index:11}
.teamPlayers01 img,.teamPlayers02 img{ width:40px; height:40px}

.match-item-sportType{ height:24px; margin-top:5px; text-align:center; width:100%; float:left}
.match-item-summary { margin:0 10px 0 145px; position:relative}
.match-item-summary ul{ margin:0; padding:0; list-style:none}
.match-item-summary li{ list-style:none; padding:0; margin:0}
.match-item-summary{ font-size:10px; color:#666}
.match-summary-teamname{ font-size:14px; color:#333}

.match-item-summary .today-match-location,.match-item-summary .today-match-time{ margin-top:5px; font-size:12px}

.icon-todayLeagueName,.icon-todayTime,.icon-todayLocation,.icon-todayLeagueNameW,.icon-todayTimeW,.icon-todayLocationW,.icon-calendar,.icon-calendarW,.today-match-summary-arrow{ width:16px; height:16px; vertical-align:text-bottom; background:url(../img/16x16.png) no-repeat -9999px -9999px}
.icon-sportType21{width:21px; height:21px; vertical-align:middle; background:url(../img/21x21.png) no-repeat -9999px -9999px}
.icon-cricket{ background-position:0px 0px}
.icon-tennis{ background-position:0px -21px}
.icon-tabletennis{ background-position:0px -21px}
.icon-badminton{ background-position:0px -21px}
.icon-volleyball{ background-position:0px -21px}
.icon-soccer{ background-position:0px -21px}
.icon-hockey{ background-position:0px 0px}
.icon-todayLeagueName{ background-position:0px -32px}
.icon-todayTime{ background-position:0px -16px}
.icon-todayLocation{ background-position:0px 0px}
.icon-todayLeagueNameW{ background-position:0px -48px}
.icon-todayTimeW{ background-position:0px -96px}
.icon-todayLocationW{ background-position:0px -112px}
.icon-calendar{ background-position:0px -80px}
.icon-calendarW{ background-position:0px -64px}
.today-match-summary-arrow{background-position:0px -128px; position:absolute; top:38px; right:-10px; display:block; overflow:hidden}

.icon-sportType50{width:50px; height:50px; vertical-align:middle; background:url(../img/50x50.png) no-repeat -9999px -9999px}
.icon-cricket50{ background-position:0 -100px}
.icon-tennis50{ background-position:0 -100px}
.icon-badminton50{ background-position:0 -100px}
.icon-volleyball50{ background-position:0 -100px}
.icon-soccer50{ background-position:0 -100px}
.icon-hockey50{ background-position:0 -100px}
.icon-tabletennis50{ background-position:0 -100px}

.icon_24,.icon_playerSwapIcon,.icon_batting,.icon_bowling,.icon_graphs,.icon_analysis{ width:24px; height:24px; vertical-align:text-bottom; background:url(../img/24x24.png) no-repeat -9999px -9999px}
.icon_playerSwapIcon{ background-position:0px 0px}
.icon_batting{ background-position:0px -24px}
.icon_bowling{ background-position:0px -48px}
.icon_graphs{ background-position:0px -72px}
.icon_analysis{ background-position:0px -96px}
.icon_21,.icon-loginFB,.icon-loginGPlus{ width:21px; height:21px; vertical-align:text-bottom; background:url(../img/21x21.png) no-repeat -9999px -9999px}
.icon-loginFB{ background-position:0px -42px}
.icon-loginGPlus{background-position:0px -63px}

.team1BdrClr,.team1BdrClr .player02,.team1BdrClr .player01{ border-color:#ff8800}
.team2BdrClr,.team2BdrClr .player02,.team2BdrClr .player01{ border-color:#519430}

.backBtn,.mainMenu{ width:50px; height:50px; display:block; overflow:hidden; float:left; background:url(../img/50x50.png) no-repeat -9999px -9999px}
.backBtn{ background-position:0px 0px}
.mainMenu{ background-position:0px -50px; float:right}
.header-title{ margin:0 50px; padding:0; font-size:18px; line-height:50px; display:block;font-family: 'Open Sans',Arial,Verdana,tahoma,sans-serif; font-weight:300; color:#333; overflow:hidden}
.icon-sportType21{ vertical-align:middle}

.login{ width:100%; position:absolute; height:100%; background:url(../img/login-page-bg.jpg) no-repeat left top; background-size:100%}
.login-logo{ width:217px; height:135px; background:url(../img/login-logo@2x.png) no-repeat left top; background-size:217px; margin:100px auto 30px; padding:0; overflow:hidden; text-indent:-9999px; color:#fff}
.login fieldset{ width:80%; margin:0; padding:10px 15px 15px; border:1px solid #fff; border-radius:3px; margin:auto}
.login legend{ color:#fff; text-align:center; padding:0 10px; font-size:18px}
.login-fbBtn,.login-gpBtn{ background:#3b5998; display:inline-block; color:#fff; text-decoration:none; padding:10px; border-radius:3px; border-bottom:2px solid #253f75; width:100px; text-align:center}
.login-gpBtn{ background:#cb4437; border-color:#a83227; float:right}
.login .icon_21{ margin-right:5px}

.match-summary-details-teams,.match-scoring-details-teams{ padding:15px 10px 0; text-align:center; background:url(../img/bg-match-summary-details.jpg) no-repeat left top; background-size:100% auto; overflow:hidden; height:50px}
.match-scoring-details-teams{  padding:15px 10px 0; height:158px; background-position:0px -50px}
.match-summary-details-teamLogo01,.match-summary-details-teamLogo02{ width:65px; text-align:center; font-size:11px; color:#fff; margin:0px 0 0}
.match-summary-details-teamLogo01{ float:left}
.match-summary-details-teamLogo02{ float:right}
.match-summary-details-teamLogo01 .teamLogo,.match-summary-details-teamLogo02 .teamLogo{ margin-bottom:5px}
.match-summary-details-desc{ margin:0 50px}
.match-summary-details-desc h3{ margin:0 0 10px; padding:0; font-size:14px; color:#fff; font-weight:normal}
.match-summary-details-desc h2{ margin:0; padding:0; font-size:18px; color:#fff; font-weight:300; line-height:30px}
.match-summary-details-desc h2 span{ color:#9bca7d}
.match-summary-date{ background:rgba(0,0,0,.2); text-align:center; color:#fff; padding:5px 10px; font-size:12px; margin:15px -10px 0}
.match-summary-overs{ margin-left:20px}
.match-summary-details-gMap .gMapHolder{ height:177px; overflow:hidden; backface-visibility:#f00}
.match-summary-details-gMap .match-summary-location{ padding:10px; text-align:center; font-size:12px; font-weight:normal; color:#666; background-color:#fff; box-shadow:0 -2px 2px rgba(0,0,0,0.15); position:relative}
.match-summary-details-gMap .match-summary-location:before{width: 15px; height: 15px; background: #FFF; position: absolute; left: 50%; margin: -17px 0 0 -5px; display: block; content: ""; -webkit-transform: rotate(45deg);box-shadow:-2px -2px 2px rgba(0,0,0,0.15); }

#googleMap iframe { width: 100%;}
#googleMap img { max-width: none; }

.match-scoring-bowler{ width:36%; float:left; padding:10px 2% 4px; position:relative; text-align:center}
.match-scoring-players .player{ width:60px; height:60px; overflow:hidden; border-radius:50%; border:2px solid #ccc; margin:auto}
.playerSwapIcon{ position:absolute; padding:5px; background:#fff; border-radius:50%; box-shadow:2px 2px 2px rgba(0,0,0,.35); margin:15px 0 0 }
.playerName{ font-size:12px; margin:0}
.scores{ font-size:18px; margin:0}
.match-scoring-batsmans{ float:left; width:60%; overflow:hidden; position:relative}

.match-scoring-curBatsman{ width:56%; padding:10px 2% 4px; float:left; text-align:center}
.bowlingToBatsmanIcon{ width:50px; height:50px; background:url(../img/50x50.png) no-repeat 0px -150px; position:absolute; margin:10px 0 0; right:-22px}
.match-scoring-batsman{background: #e3e3e3; width: 40%; float: left; text-align: center; padding: 10px 0}
.match-scoring-batsman .scores{ font-size:14px}
.match-scoring-batsman .playerSwapIcon{ margin-left:-15px}

.player-detail{ height:172px; width:100%; margin:-172px 0 0 0; background:#192029; background:rgba(25,32,41,0.97); position:absolute}
.player-detail:after{ content:''; position:absolute; width:10px; height:10px; background:#192029; background:rgba(25,32,41,0.97); display:block; bottom: -5px;left: 50%; transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg);}
.match-scoring-players .player-score-details{ padding:30px 15px; color:#fff}
.player-score-details .playerName{ float:left; font-size:24px; font-weight:100; line-height:24px}
.player-score-details .playerName span{ font-size:15px; display:block; clear:both; line-height:18px}
.player-score-details .runsorwickets{ float:right; font-size:24px; font-weight:100; margin:0; padding:0}
.score-details{ clear:both; font-size:12px; margin:15px 0 0; overflow:hidden; float:left; width:100%; line-height:24px }
.strike-rate{ float:left; width:40%; margin-right:10%}
.fours-sixes{ float:left}
.match-scoring-ballByBall{}
.match-scoring-team01,.match-scoring-team02{ width:50%; float:left}
.match-scoring-teamLogo01, .match-scoring-teamLogo02{ width:65px; margin:0; float:left; color:#fff; font-size:11px}
.match-scoring-teamLogo02{ float:right}
.match-scoring-team02 .match-scoring-score{ text-align:right; margin:-5px 10px 0 0; float:right}
.match-scoring-score{ float:left; text-align:left; color:#fff; margin:-5px 0 0 10px}
.match-scoring-score span{ display:block}
.match-scoring-score span.scores{ font-size:18px}
.match-scoring-score span.overs{ font-size:12px}
.match-scoring-score span.requiredRR{ font-size:11px}
.match-scoring-requires{ font-weight:bold; font-size:12px; color:#fff; padding:10px 0 5px; clear:both}
.match-scoring-requires p{ margin:0; padding:0}

.match-scoring-players{ height:120px; background:#efefef}
.match-scoring-enter{ background:#999; padding:5px 0 0 5px; overflow:hidden}
.runsButtons{ width:210px; overflow:hidden; float:left}
.runsButtons a{ width:63px; height:63px; display:block; float:left; border:1px solid #fff; margin:0 5px 5px 0; line-height:63px; text-decoration:none; font-size:36px; color:#000; text-align:center; background:#f3f3f3; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#e2e2e2)); background: -webkit-linear-gradient(top, #f3f3f3, #e2e2e2); background: -moz-linear-gradient(top, #f3f3f3, #e2e2e2); background: -ms-linear-gradient(top, #f3f3f3, #e2e2e2); background: -o-linear-gradient(top, #f3f3f3, #e2e2e2); border-radius:5px; box-shadow:0 1px 0.01em rgba(0,0,0,0.35) }
.runsOtherButtons{ margin-left:210px; padding-right:5px}
.runsOtherButtons a{ height:39px; display:block; border:1px solid #fff; margin:0 0 5px 0; line-height:43px; text-decoration:none; font-size:18px; color:#000; text-align:center; background:#f3f3f3; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#e2e2e2)); background: -webkit-linear-gradient(top, #f3f3f3, #e2e2e2); background: -moz-linear-gradient(top, #f3f3f3, #e2e2e2); background: -ms-linear-gradient(top, #f3f3f3, #e2e2e2); background: -o-linear-gradient(top, #f3f3f3, #e2e2e2); border-radius:5px; box-shadow:0 1px 0.01em rgba(0,0,0,0.35) }

.extraButtons{float:left}
.extraButtons a{ 
	width:40px;
	height:40px;
	line-height:40px; 
	display:block; 
	float:left; 
	border:1px solid #fff; 
	margin:0 5px 5px 0;
	text-decoration:none; 
	font-size:15px; 
	color:#000; 
	text-align:center; 
	background:#f3f3f3; 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#e2e2e2)); background: -webkit-linear-gradient(top, #f3f3f3, #e2e2e2); background: -moz-linear-gradient(top, #f3f3f3, #e2e2e2); background: -ms-linear-gradient(top, #f3f3f3, #e2e2e2); background: -o-linear-gradient(top, #f3f3f3, #e2e2e2); 
	border-radius:5px; 
	box-shadow:0 1px 0.01em rgba(0,0,0,0.35) 
}

.extrasContent{
	
	z-index: 12;
	position: absolute;
	background-color: #FFFFFF;
	
}

.extrasContent h4{
	margin-left: 15px;
}


.match-scoring-ballByballs{ height:40px; overflow:hidden; background:#192029; position:relative}
.match-scoring-ballByballs ul{ margin:5px 0 0 5px; padding:0; list-style:none; width:2000px}
.match-scoring-ballByballs ul li{ margin:0; padding:0; line-height:30px; list-style:none; float:left; width:30px; height:30px; background:#eee; box-shadow:1px 1px 1px rgba(0,0,0,0.2) inset; border-radius:3px; margin:0 10px 0 0}
.match-scoring-ballByballs ul li.done{ background-color:#427fed; font-size:10px; text-align:center; color:#fff; box-shadow:none}
.run-score-undo{ width:30px; height:30px; background:url(../img/run-score-undo.png) no-repeat left top #dd4b39; border-radius:3px; overflow:hidden; position:absolute; right:5px; top:5px; cursor:pointer}

.bottom-navs{ position:fixed; bottom:0; width:100%; background:#fff}
.bottom-navs a{ width:24.7%; float:left; position:relative; color:#666; font-size:12px; border-right:1px solid #d6d6d6; display:inline-block; height:45px; padding:5px 0 0; background:#fff; text-decoration:none; text-align:center}
.bottom-navs a span{ display:block}
.bottom-navs a hr{ display:none}
.bottom-navs a.active{ color:#000}
.bottom-navs a.active hr{margin-top:-8px; display:block; border:0; height:3px; background: #427fed; z-index:1}
.bottom-navs a.last{ border-right:0}
.bottom-navs a.active .icon_batting{ background-position:0px -120px}
.bottom-navs a.active .icon_bowling{ background-position:0px -144px}
.bottom-navs a.active .icon_graphs{ background-position:0px -168px}
.bottom-navs a.active .icon_analysis{ background-position:0px -192px}

.tabs{ background:#d7d7d7; padding:5px; height:30px; overflow:hidden}
.tabs a{ padding:5px; display:inline-block; line-height:20px; font-size:12px; color:#000; text-decoration:none}
.tabs a.active{ background:#dd4b39; border-radius:5px; color:#fff}

.score-header{ background:#333; line-height:24px; color:#fff; font-size:12px; overflow:hidden}
.score-header-score{ float:left; width:38%; padding:0 0 0 2%}
.score-header-th{ margin-left:40%; padding:0; margin:0; list-style:none}
.score-header-th li{ font-weight:bold; width:12%; text-align:left; float:left; display:inline-block; list-style:none}

.players-score{}
.player-row,.extras-row,.total-score-row,.fall-wickets-score-row{ overflow:hidden; font-size:12px;line-height:24px; padding:5px 0; border-bottom:1px solid #e6e6e6; background:#fff }
.player-name,.extras,.total-score{ float:left; width:38%; padding:0 0 0 2%; font-weight:bold}
.player-score-detail,.extras-score,.total-score-score{ margin-left:40%; padding:0; margin:0; list-style:none}
.player-score-detail li,.extras-score li,.total-score-score li{ font-weight:bold; width:12%; text-align:left; float:left; display:inline-block; list-style:none}
.bowler-name,.extras-score-detail,.total-score-detail{ clear:both; padding:0 0 0 2%; color:#666}
.alterRow{ background:#f5f5f5}
.extras-row{ background:#e9e9e9; border-color:#d8d8d8}
.total-score-row{ background:#dddddd; border-color:#d8d8d8}
.players-score-details{ padding-bottom:50px}
.fall-wickets-score-row{ background:#f5f5f5}
.fall-of-wickets{ padding-left:5px}

.bowling-details .score-header-th li{  width:15%}
.bowling-details .player-score-detail li,.bowling-details .extras-score li,.bowling-details .total-score-score li{ width:15%}

fieldset{ border:0; padding:0; margin:0}
.formSection{ padding:0; background:#fff; margin:5px 5px 55px; border-radius:3px;}
.formRow{ padding:10px}
.formRow .fieldHelp{ color:#777; font-size:12px; padding:10px 0 0}
.formRow label{ display:block; font-weight:normal; font-size:13px; margin-bottom:10px; cursor:pointer}
.formRow input,.formRow select{ border:1px solid #ccc; padding:5px; font-size:13px; color:#666; font-family: 'Open Sans',Arial,Verdana,tahoma,sans-serif; width:100%; box-sizing:border-box; border-radius:2px}
.formRow input:focus,.formRow select:focus{ border-color:#427fed; box-shadow:0 2px 0px rgba(0,0,0,0.2)}
.formBtnsRow{ text-align:right; border-top:1px dotted #ddd; padding:10px; background:#f5f5f5; border-radius:0 0 3px 3px;}
.formBtnsRow .formBtn{padding:5px 10px; font-size:14px; line-height:24px; border:0px; min-width:100px; margin-left:10px; font-family: 'Open Sans',Arial,Verdana,tahoma,sans-serif; box-sizing:border-box; border-radius:2px}
.formBtnsRow .primarybutton{ background:#ec5a52; color:#fff; border-bottom:2px solid #bd4842}
.formBtnsRow .secondarybutton{background:#aaa; color:#fff; border-bottom:2px solid #888888}
input.date{ background:url(../img/icon-date.png) no-repeat 98.5% 4px; padding-right:30px}

/* Calendar */

.ui-datepicker{font-family: 'Open Sans',Arial,Verdana,tahoma,sans-serif; padding:0; border-color:#ddd; border-radius:3px; font-size:13px; width:288px}
.ui-widget th{ font-weight:normal}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{ background:none; text-align:center}
.ui-datepicker-title{ font-weight:bold; font-size:18px;}
.ui-datepicker .ui-datepicker-header{ border-radius:0px; background:#ec5a52; color:#fff; border:0}
.ui-datepicker table th{ background:#ec5a52; color:#ffffff}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{ border:0}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{ background:#aaa; color:#fff}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{background:#427fed; color:#fff;}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{ background:#eee}
.ui-datepicker td{border: 1px solid #eee;border-left: 0;}
.ui-datepicker td:last-child{ border-right:0px}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{ width:24px; height:24px; top:8px}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{width:24px; height:24px; background:url(../img/24x24.png) no-repeat left 0px; margin:0; left:0; top:0}
.ui-datepicker .ui-datepicker-prev span{ background-position:left -264px}
.ui-datepicker .ui-datepicker-next span{ background-position:left -240px}

@media (min-width:640px){
	.match-listItem{ max-width:48%; margin-right:5px; box-sizing:border-box}
}
@media (min-width:768px){
	.match-listItem{ max-width:374px; margin-right:5px; box-sizing:border-box}
}

/* for Retina Support */
@media (min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2),(min-resolution: 120dpi){
	.logo-symbol{ background-image:url(../img/logo-symbol@2x.png); background-size:50px}
	.logo-title{ background-image:url(../img/logo-text@2x.png); background-size:122px}
	.tab-match-count{ background-image:url(../img/tab-match-count-bg@2x.png); background-size:24px}
.icon-todayLeagueName,.icon-todayTime,.icon-todayLocation,.icon-todayLeagueNameW,.icon-todayTimeW,.icon-todayLocationW,.icon-calendar,.icon-calendarW,.today-match-summary-arrow{ background-image:url(../img/16x16@2x.png); background-size:16px}
	.icon-sportType21{ background-image:url(../img/21x21@2x.png); background-size:21px}
	.backBtn,.mainMenu{background-image:url(../img/50x50@2x.png); background-size:50px}
	.icon_24{ background-image:url(../img/24x24@2x.png); background-size:24px}
	.icon_21{ background-image:url(../img/21x21@2x.png); background-size:21px}
	.bowlingToBatsmanIcon{ background-image:url(../img/50x50@2x.png); background-size:50px}
	.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{background-image:url(../img/24x24@2x.png); background-size:24px}
}


.show
{
display:block;
}

.hide
{
display:none;
}

.invisible
{
visibility:hidden;
}

.popUpTitle{ width:100%; height:50px; z-index:999; text-align:center; background:#fafafa; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eaeaea), to(#fafafa)); background: -webkit-linear-gradient(top, #eaeaea, #fafafa); background: -moz-linear-gradient(top, #eaeaea, #fafafa); background: -ms-linear-gradient(top, #eaeaea, #fafafa); background: -o-linear-gradient(top, #eaeaea, #fafafa) }

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.margin-B10{margin-bottom: 10px !important}

.clear { clear:both}
.prelative{position: relative;}

.image-circle-3 {width:50px; height:50px; border-radius:50%; overflow: hidden;}

.player-no-a,.player-no-b {background-color: #00b3db;border-radius:2px;color: #fff; font-size:10px;left:0;position: absolute;text-align: center;text-decoration: none;top:-5px;min-width: 20px; height:18px; padding:0 5px;line-height:18px;}
.player-no-b {background-color: #ef1953}

.margin-L10{ margin-left:10px !important}

.player-list {display:block; float:left; margin-top:10px}

.line-up-list li:after,.player-list li:after{content: "";height: 6px;left: 0;position: absolute;top: 7px;width: 6px}
.line-up-list li,.player-list li{display: inline-block;font-size: 12px;font-weight: 300;margin: 0 8px 0 0;position: relative; color:#99a9b3; line-height:18px}
.player-list li{ float:left; clear:both}
.player-list li{font-size: 12px; color:#99a9b3}
.line-up-list li > span,.player-list li > span {display: inline-block;letter-spacing: 0.2pt;line-height: 16px; background-color:#34be4b; color:#fff; border-radius:5px; font-size:11px; padding:0 5px}
.line-up-list li:first-child,.player-list li:first-child { font-size:14px; color:#67747c}
.line-up-list li > small,.player-list li > small{ font-size:10px; font-style:italic}
.line-up-list li.blue:after,.player-list li.blue:after{background-color: #297CBB}
.line-up-list li.green:after,.player-list li.green:after{background-color: #34be4b}
.line-up-list li.red:after,.player-list li.red:after{background-color: #fa5e5b}

figure { margin: 0px;}

.match-circle-left-2 figure {
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    border: 4px solid rgb(0, 179, 219) !important;
}

img {
    border: 0px none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
}

.clear:after, .border-wrap:after, .border-wrap-content:after, .form-horizontal:after, .well:after, .widget-body:after, .input-icon:after, .well-md:after, .password-strength:after, .w-box:after {
    clear: both;
}

.clear:before, .clear:after, .border-wrap:before, .border-wrap:after, .border-wrap-content:before, .border-wrap-content:after, .form-horizontal:after, .form-horizontal:before, .well:before, .well:after, .widget-body:before, .widget-body:after, .input-icon:before, .input-icon:after, .well-md:before, .well-md:after, .password-strength:before, .confirm-password:before, .confirm-password:after, .password-strength:after, .w-box:before, .w-box:after {
    content: " ";
    display: table;
}

.btn-success {
    color: #FFF;
    background-color: #5CB85C;
    border-color: #4CAE4C;
}

.btn {
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 7px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -moz-user-select: none;
}

.btn-blue {
    background-color: #297CBB;
    border-color: #297CBB;
    color: #FFF;
}

.text-right {
    text-align: right;
}
