<?xml version='1.0' encoding='utf-8'?>
<widget id="com.playinga.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    
    <!-- Do not auto hide splash on iOS -->
	<preference name="AutoHideSplashScreen" value="false" />
	<!-- Do not auto hide splash on Android -->
	<preference name="SplashScreenDelay" value="10000"/>
	
	<gap:plugin name="org.apache.cordova.splashscreen" />
	<gap:plugin name="com.phonegap.plugins.facebookconnect.FacebookConnectPlugin" />
	<gap:plugin name="com.brodysoft.sqlitePlugin.SQLitePlugin" />
	<gap:plugin name="org.apache.cordova.inappbrowser.inappbrowser" />
    
</widget>
